:root {
    --primary-text-color: #fcffff;
    --secondary-text-color: #8f9ba7;
    --third-text-color: #3f92de;
    --primary-border-color: #3c444f;
    --post-hover-color: #1d2733;
}

.bio {
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
    width: 598px;
    font-size: 15px;
    border: 1px solid var(--primary-border-color);
    border-bottom: 0px;
}

.text-elements {
    margin: 0px 0px 15px;
    padding: 5px 15px 0px;
}

.cover img {
    height: 199.3px;
    width: 100%;
}

.profile-picture img {
    height: 134px;
    width: 134px;
    border-radius: 50%;
}

.details {
    display: flex;
    margin-bottom: 10px;
}

.desc {
    margin-bottom: 10px;
}

.tag {
    margin-bottom: 10px;
}

.detail {
    margin-right: 5px;
}

.fol {
    display: flex;
    font-weight: bold;
}

.fol > div {
    margin-right: 15px;
}

.tag, .fol span, .detail {
    color: var(--secondary-text-color);
}

.fol span {
    font-weight: normal;
}

.name {
    font-size: 19px;
    font-weight: bold;
}
.follow {
    display:flex;
    justify-content: flex-end;
    padding: 10px 15px 0px;
}

.follow button {
    background: transparent;
    font-weight: bold;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    border: 1px solid var(--third-text-color);
    color: var(--third-text-color);
    padding: 0px 15px;
    min-height: 39px;
    border-radius: 9999px;
}

.magic {
    position: relative;
}

.profile-picture {
    position: absolute;
    top: 120px;
    left: 10px;
}