:root {
    --primary-text-color: #fcffff;
    --secondary-text-color: #8f9ba7;
    --third-text-color: #3f92de;
    --primary-border-color: #3c444f;
    --post-hover-color: #1d2733;
}

.profile-container {
    min-height: 100vh;
    min-width: 100px;
}

.side-container {
    min-height: 100vh;
    min-width: 100px;
}

.feed {
    color: #ffffff;
}

.post {
    max-width: 473px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-bottom: 1px;
    border: 1px solid var(--primary-border-color);
    border-bottom: 0px;
}

.post:hover {
    background-color: var(--post-hover-color);
}

.content {
    display: flex;
}

.content-right {
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
    padding: 10px 0px;
}

.content-left {
    margin: 0px 5px;
    padding: 10px 0px;
}

.mode-icon {
    height: 19px;
    width: 49px;
}

.content-left img {
    max-width: 49px;
    max-height: 49px;
    border-radius: 50%;
}

.signature {
    display:flex;
    margin-bottom: 3px;
    margin-top: 3px;
}

.author {
    font-weight: bold;
}

.stats {
    display:flex;
    justify-content: space-between;
}

.author, .message {
    color: var(--primary-text-color);
}

.stats , .date, .author-tag, .mode {
    color: var(--secondary-text-color);
}


.show {
    color: var(--third-text-color);
    padding: 5px 0px;
}

.stats {
    padding: 0px 0px 10px;
    margin-top: 10px;
}

.mode {
    font-size: 13px;
}