:root {
    --primary-text-color: #fcffff;
    --secondary-text-color: #8f9ba7;
    --third-text-color: #3f92de;
    --primary-border-color: #3c444f;
    --post-hover-color: #1d2733;
    --secondary-background-color: #1d2733;
}

header {
    color: var(--secondary-text-color);
    border: 0px;
    font-size: 13px;
    display: flex;
    border-bottom: 1px solid var(--primary-border-color);
    justify-content: center;
    align-items: center;
}

.top-nav {
    display: flex;
    align-items: center;
}

.search {
    color: var(--secondary-text-color);
}

.search input {
    color: var(--secondary-text-color);
    background-color: var(--secondary-background-color);
    border: none;
    border-radius: 9999px;
    padding: 10px;
}

.account {
    margin-left: 500px;
}

.account button {
    border: 1px solid var(--third-text-color);
    padding: 0px 15px;
    height: 30px;
    border-radius: 9999px;
    font-size: 15px;
    font-weight: bold;
}

.login {
    color: var(--third-text-color);
    background: transparent;
}

.signup {
    color: var(--primary-text-color);
    background-color: var(--third-text-color);
    margin-left: 8px;
}


.logo, .search, .account {
    margin-bottom: 5px;
    padding: 10px;
}

.logo img {
    height: 25px;
    width: 20px;
}

.top-nav > i {
    color: var(--third-text-color);
    margin-left: 5px;
}