:root {
    --primary-text-color: #fcffff;
    --secondary-text-color: #8f9ba7;
    --third-text-color: #3f92de;
    --primary-border-color: #3c444f;
    --post-hover-color: #1d2733;
}

.links {
    color: var(--secondary-text-color);
    border: 0px;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}

.links-r1 {
    display: flex;
    margin-bottom: 3px;
}

.link-r1 {
    padding: 0px 10px 0px 0px;
}