:root {
    --primary-text-color: #fcffff;
    --secondary-text-color: #8f9ba7;
    --third-text-color: #3f92de;
    --primary-border-color: #3c444f;
    --post-hover-color: #1d2733;
}

.new {
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--primary-border-color);
    border-radius: 14px;
    margin-top: 10px;
    width: 348px;
}

.side-signup {
    margin: 15px 10px;
    background-color: var(--third-text-color);
    color: var(--primary-text-color);
    font-size: 15px;
    border-radius: 9999px;
    border: none;
    font-weight: bold;
    padding: 12px 15px;
}

.q {
    color: var(--primary-text-color);
    font-size: 19px;
    font-weight: bold;
}

.s {
    color: var(--secondary-text-color);
    font-size: 13px;
}

.new p {
    padding: 10px 15px;
    margin: 0px;
}



