:root {
    --primary-text-color: #fcffff;
    --secondary-text-color: #8f9ba7;
    --third-text-color: #3f92de;
    --primary-border-color: #3c444f;
    --post-hover-color: #1d2733;
    --button-hover-black: #162d40;
    --button-hover-blue: #1a91da;
}

* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    min-width: 630px;
    display: flex;
    flex-direction: column;
    background-color: #171f2a;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
}

.profile-container {
    min-height: 100vh;
}

.side-container {
    min-height: 100vh;
    min-width: 100px;
    margin-left: 20px;
}

button {
    cursor: pointer;
    outline: none;
}

button.btn-black:hover {
    background-color: var(--button-hover-black);
}

button.btn-blue:hover {
    background-color: var(--button-hover-blue);
}