:root {
    --primary-text-color: #fcffff;
    --secondary-text-color: #8f9ba7;
    --third-text-color: #3f92de;
    --primary-border-color: #3c444f;
    --post-hover-color: #1d2733;
}

.trends {
    color: var(--primary-text-color);
    border: 0px;
    border-radius: 14px;
    margin: 10px 0px;
    margin-bottom: 15px;
    background-color: #1d2733;
    font-size: 19px;
    font-weight: bold;
    padding: 15px;
    border-bottom: 1px solid var(--primary-border-color);
}